.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
    -fx-pref-height: 0;
    -fx-padding: 0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-background-radius: 5em;
}

.scroll-pane:hover .scroll-bar:vertical .thumb {
    -fx-background-color: #383a40;
}

.scroll-bar:vertical:hover .thumb {
    -fx-background-color: #4f545c;
}